
body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: bold;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.colored-section{
background-color: #ff4c68;
color: #fff;
}
.white-section{
background-color: #fff;
}
  p{
    color: #8f8f8f;
    font-size: medium;
  }

  /* Heading Section */

  .big-heading{
    font-family: "Montserrat-bold";
    size: 4.5rem;
    line-height: 1.5;
    font-weight: bold;
    font-size: 80px;
  }
.section-heading{
    font-size: 2.2rem;
    line-height: 1.7rem;
}

/* Navigation bar */

.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
font-size:1.2rem ;
font-family: "Montserrat-light";
}

/* Download Buttons */

.download-buttons{
    padding: 8% 3% 10% 0;
    margin: 1rem;
}

/* Tittle-Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Tittle image */

.tittle-image{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
    margin-top: 25px;
}

/* featutres section */

#features{
    padding:7% 15% ;
    position: relative;
    z-index: 1;
}
.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.features-box{
    padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials section */

#testimonials{
    background-color: #ef8172;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20%;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
width: 15%;
margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
padding: 100px;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-col{
    padding: 3% 2%;
}
@media(max-width:1028px){
    #title{
        text-align: center;
    }
    
    .tittle-image{
        position: static;
        transform: rotate(0);
    }
}

/* Footer section */

.ic{
color: black;
margin-bottom: 20px 10px;
padding: 3% 2%;
}